@media (max-width: 776px) {
    main {
        margin: 0;
    }

    header {
        margin: 48px 0 0 24px;
        width: 360px;
    }

    .header-title {
        font-size: 14px;
    }

    header nav>ul {
        display: none;
        position: absolute;
    }

    #menu, #exit {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        background: white;
        width: 20px;
        height: 20px;
        border-radius: 0px;
    }

    #menu {
        right: 27px;
        top: 45px;
    }

    .menu-phone {
        position: absolute;
        right: 17px;
        top: 35px;
        z-index: 110000;
        width: 50%;
        height: 200px;
        background: white;
        border: 1px solid black;
        border-radius: 20px;
    }

    .list-phone {
        display: block;
        text-align: center;
    }

    .list-phone li {
        margin-top: 20px;
    }

    .list-phone li a:hover {
        color: gray;
    }

    .hero-section {
        display: block;
    }

    .hero-section {
        text-align: center;
        margin-top: 95px;
    }

    .hero-section img {
        width: 358px;
        height: 358px;
        margin: 48px 0 0 0;
    }

    .text-container h1 {
        font-size: 40px;
    }

    .text-container p {
        font-size: 16px;
    }

    .companies-section {
        margin-top: 120px;
    }

    .logos-container {
        width: 380px;
        margin: 16px 0 0 16px;
    }

    .logos-container img {
        height: 24px;
    }

    .logos-container img+img {
        margin-left: 30px;
    }

    .logos-container img:nth-child(1) {
        margin-left: 16px;
    }

    .branding {
        height: 100%;
        margin-top: 88px;
    }

    .branding, .custome {
        flex-flow: wrap;
        text-align: center;
    }

    .branding div, .custome div {
        width: 100%;
    }

    .branding h2, .custome h2, .testimonials h2, .contact h2 {
        font-size: 32px;
    }

    .branding p, .custome p {
        font-size: 14px;
        margin-top: 24px;
    }

    .arrow {
        margin-top: 32px;
        transform: rotate(90deg)
    }

    .branding img, .custome img {margin-top: 25px;}

    .branding img {
        order: 1;
    }

    .custome {
        margin-top: 120px;
        height: 100%;
    }

    .testimonials {
        margin-top: 120px;
        height: 100%;
    }

    .testimonials span {
        font-size: 14px;
    }

    .testimonials>div {
        flex-flow: wrap;
    }

    .testimonial-card {
        margin-top: 16px;
        margin-left: 52px;
        width: 379px;
    }

    .testimonial-card+.testimonial-card {
        margin-left: 52px;
        margin-top: 40px;
    }

    .contact {
        width: 379px;
        height: 350px;
        margin-top: 120px;
        margin-left: 52px;
        text-align: center;
    }

    .contact img {
        display: none;
    }

    .contact>div {
        margin-left: 48px;
    }

    .contact h2 {
        margin: 0;
    }

    .contact p {
        margin-top: 32px;
        margin-bottom: 48px;
    }

    footer {
        margin-top: 128px;
        height: 100%;
    }

    .footer {
        left: 0;
        top: 0;
        text-align: center;
    }

    .footer-row {
        display: block;
        height: 100%;
    }

    .col:nth-child(1) {
        margin-left: 146px;
        padding-top: 104px;
    }

    .col+.col {
        margin: 72px 0 0 0;
    }

    .col p {
        margin-top: 34px;
    }

    .footer>p {
        font-size: 12px;
    }
}

@media (max-width: 776px) and (min-width: 500px) {
    .logos-container {
        margin-left: 20%;
        width: 70%;
    } 

    .logos-container img+img {
        margin-left: 6%;
    }

    .branding img, .custome img {
        margin-left: 15%;
    }

    .contact img {
        visibility: hidden;
    }
}

@media (max-width: 950px) {
    .contact img {
        display: none;
    }
    .contact {
        text-align: center;
    }

    .contact>div {
        width: 100%;
    }
}